* {
    font-family: 'Texta Alt';
    box-sizing: border-box;
}

@font-face {
    font-family: 'Texta Alt regular';
    src: url(../fonte/TextaAltRegular.ttf);
}

@font-face {
    font-family: 'Texta Alt';
    src: url(../fonte/TextaAltBold.ttf);
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    width: 100%;
    max-width: max-content;
}

#container_1 {
    background-image: url(../img_sobrancelhas/header_bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 840px;
}

.area_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.area_logo img {
    max-width: max-content;
    width: 100%;
}

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_1_int {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.area_container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(66.18% 45.64% at -16.18% 74.97%, rgba(254, 185, 213, 0.37) 0%, rgba(254, 185, 213, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #F1DADA;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
}

.texts_container_1 img {
    margin-bottom: 10px;
    max-width: max-content;
    width: 100%;
}

.texts_container_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    max-width: 700px;
}

.title_container_1 h2 {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #814D29;
    margin: 0px;
}

.sub_title_container_1 p {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 0px;
}

.btn_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1BD741;
    border-radius: 38px;
    padding: 10px 15px 10px 15px;
    max-width: max-content;
    transition: all ease 200ms;
    gap: 10px;
}

.btn_1 h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0px;
}


.btn_1:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

svg {
    fill: #fff;
}

.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1110px;
}

.area_container_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0px 0px 0px;
}


.card_container_2 {
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.card_container_2 img {
    max-width: 65px;
    width: 100%;
}

.title_2 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #814D29;
    margin: 0px;
}


.container_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px;
}

.container_3_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1110px;
}

.area_container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.area_container_3 img {
    width: 100%;
    max-width: 520px;
}

.bg_sobre img {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 100%;
    max-width: max-content;
}

.area_texts_container_3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 610px;
}

.sub_title_3 p {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #000;
    margin: 0px;
}

.btn_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1BD741;
    border-radius: 38px;
    padding: 10px 15px 10px 15px;
    max-width: max-content;
    transition: all ease 200ms;
    gap: 10px;
}

.btn_3 h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0px;
}

.btn_3:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}


.btn_3 svg {
    fill: #fff;
}

/*Container 4*/

.container_4 {
    display: flex;
    justify-items: center;
    width: 100%;
    padding: 80px 0px 200px 0px;
    margin: 80px 0px 0px 0px;
    background: radial-gradient(66.18% 45.64% at -16.18% 74.97%, rgba(254, 185, 213, 0.37) 0%, rgba(254, 185, 213, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #F1DADA;
    box-shadow: inset 77px 95px 31px -90px rgba(174, 42, 42, 0.25), inset 0px 49px 55px rgba(224, 164, 127, 0.15);
    border-radius: 100px 100px 0px 0px;

}

.container_4_int {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    padding: 0px 20px;
    text-align: center;
}

.area_servicos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 0px 0px 0px;
    width: 100%;
    max-width: 1280px;
}

.title_servicos h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #814D29;
    margin: 0px;
}

.servicos_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card_servico_1 {
    background-image: url(../img_sobrancelhas/labios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 358px;
    transition: all ease 200ms;
    border-radius: 30px;
}

.card_servico_2 {
    background-image: url(../img_sobrancelhas/spa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 358px;
    transition: all ease 200ms;
    border-radius: 30px;
}

.card_servico_3 {
    background-image: url(../img_sobrancelhas/cilios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 358px;
    transition: all ease 200ms;
    border-radius: 30px;
}


.card_servico_1:hover,
.card_servico_2:hover,
.card_servico_3:hover {
    transform: scale(1.06);
}

.text_card_servico {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 0px 20px 50px 20px;
}

.text_int_card h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}

.title_4 h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #814D29;
    margin: 60px 0px -40px 0px;
}

.sub_title_4 p {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 20px 0px -30px 0px;
    max-width: 800px;
}

.sub_title_4 p b {
    color: #E66078;
}

.area_container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}

.item a {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.owl-theme .owl-nav {
    position: absolute;
    left: 50%;
    bottom: 0px;
}

.owl-prev {
    position: absolute;
    right: 60px;
    bottom: -60px;
    background-color: transparent !important;
    opacity: 1 !important;
    transition: all ease 200ms;
}

.owl-prev:hover {
    transform: scale(1.06);
}

.owl-next:hover {
    transform: scale(1.06);
}

.owl-next {
    position: absolute;
    left: 60px;
    bottom: -60px;
    background-color: transparent !important;
    opacity: 1 !important;
    transition: all ease 200ms;
}


.owl-carousel .owl-stage-outer {
    padding: 40px 0px;
}

.modelo_1 {
    background-image: url(../img_sobrancelhas/bella_brow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 348px;
    height: 566px;
    transition: all ease 200ms;
    border-radius: 30px;
}

.modelo_1:hover,
.modelo_2:hover,
.modelo_3:hover {
    transform: scale(1.06);
}

.modelo_2 {
    background-image: url(../img_sobrancelhas/lamination.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 348px;
    height: 566px;
    transition: all ease 200ms;
    border-radius: 30px;
}

.modelo_3 {
    background-image: url(../img_sobrancelhas/spa_sobrancelhas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 348px;
    height: 566px;
    transition: all ease 200ms;
    border-radius: 30px;
}

.area_text_modelo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0px 20px 50px 20px;

}

.area_text_modelo h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    margin: 0px;
    text-transform: uppercase;

}

/*Container 5*/

.container_5 {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: 100px 100px 0px 0px;
    padding: 100px 0px 0px 0px;
    position: relative;
    z-index: 1;
    margin-top: -80px;

}

.container_5_int {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
}

.area_container_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

.icon_star {
    position: absolute;
    left: 250px;
    top: 50px;
}

.area_video {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 16px;
    margin-top: 20px;
}

.text_info_5 {
    width: 100%;
    max-width: 525px;
}

.text_info_5 p {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 30px 0px 20px 0px;
}

.texts_area_5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.texts_5 h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 0px;
}

.sub_title_5 p {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 0px;
}

.btn_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF6B85;
    border-radius: 38px;
    padding: 15px 15px 15px 15px;
    width: 100%;
    max-width: max-content;
    transition: all ease 200ms;
}

.btn_5 h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #fff;
    margin: 0px;
}

.btn_5:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.slide-2 {
    margin: 40px 0px 80px 0px;
}

.item {
    display: flex !important;
    justify-content: center;
}

.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #DFAAA7 !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 0.8 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 14px !important;
    height: 14px !important;
    opacity: 1 !important;
}

.card_comment {
    background: #F1DADA;
    box-shadow: 33px -1px 34px -16px #DFAAA7;
    border-radius: 100px;
    width: 100%;
    max-width: 380px;
    height: 450px;
    padding: 30px 40px 30px 40px;

}

.card_comment_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.perfil img {
    width: 100px !important;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}

.name h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #B8475B;
    margin: 0px;
}


.comment p {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #D66B7E;
    margin: -10px 0px 0px 0px;
    padding: 0px 10px;
}

.container_6 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_6_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 930px;
}


.area_container_6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.area_unidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 430px;
}

.text_unidade h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FF6B85;
    margin: 0px;
}

.text_unidade h2 b {
    color: #814D29;
}


.area_unidade_endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 380px;
}

.area_locais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.texts_local {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.nome_local h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #814D29;
    margin: 0px;
}

.endereco p {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #814D29;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0px 0px 0px;
}

.fachada {
    display: flex;
    justify-content: center;
}

.fachada img {
    position: relative;
    z-index: -1;
    margin-bottom: -200px;
    width: 100%;
}

.container_footer {
    display: flex;
    justify-content: center;
    background-color: #EBB9AF;
    width: 100%;
    padding: 80px 0px 80px 0px;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.footer_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer_col a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_col img {
    max-width: 65px;
    width: 100%;
}

.text_instagram h2 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.sub_text_instagram h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}


.title_contato h2 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0px;
}

.footer_col_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_text_contato {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_unidade h2 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0px;
}

.btn_undidade {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    max-width: max-content;
    background-color: #1BD741;
    border-radius: 38px;
    transition: all ease 200ms;
    gap: 10px;
}

.btn_undidade h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0px;
}

.btn_undidade:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.sub_title_unidade p {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.title_servicos_footer h2 {
    font-family: 'Texta Alt regular';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0px;
}



@media(max-width: 1024px) {
  
    .area_container_2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 40px 20px 0px 20px;
    }

    .container_3 {
        padding: 40px 0px;
    }

    .area_container_3 {
        flex-direction: column;
        align-items: center;
    }

    .area_texts_container_3 {
        align-items: center;
    }

    .area_container_3 {
        gap: 20px;
        padding: 0px 20px;
    }

    .sub_title_3 p {
        text-align: center;
    }

    .bg_sobre img {
        position: absolute;
        bottom: 0px;
        left: -112px;
        top: 450px;
        width: 100%;
        max-width: 200px;
    }


    .container_4 {
        padding: 40px 0px 280px 0px;
        margin: 80px 0px 0px 0px;
    }


    .area_container_5 {
        padding: 0px 20px;
    }

    .area_container_6 {
        padding: 0px 20px;
    }

    .container_footer {
        height: auto;
        padding: 100px 0px 40px 0px;
    }

    .area_footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer_col_2 {
        text-align: center;
    }

}


@media(max-width: 768px) {
    .container_1 {
        height: 85%;
    }

    .area_container_2 {
        margin: 60px 20px 20px 20px;
    }


    .area_container_3 img {
        width: 100%;
        max-width: 400px;
    }

    .bg_sobre img {
        position: absolute;
        bottom: 0px;
        left: -18px;
        top: 260px;
        width: 100%;
        max-width: 200px;
    }

    .sub_title_3 p {
        font-size: 20px;
        line-height: 24px;
    }

    .btn_3 {
        padding: 10px 10px 10px 10px;
    }

    .btn_3 h2 {
        font-size: 18px;
    }

    .title_servicos h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .text_int_card h2 {
        font-size: 26px;
    }

    .servicos_card {
        padding: 0px 20px;
    }

    .card_servico_1,
    .card_servico_2,
    .card_servico_3 {
        width: 340px;
    }

    .container_4 {
        padding: 40px 0px 140px 0px;
        margin: 30px 0px 0px 0px;
    }

    .area_servicos {
        margin: 40px 0px 0px 0px;
    }


    .title_4 h2 {
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        margin: 40px 0px -40px 0px;
        padding: 0px 20px;
    }

    .sub_title_4 p {
        font-size: 18px;
        line-height: 20px;
    }

    .texts_5 h2 {
        font-size: 22px;
    }

    .sub_title_5 p {
        font-size: 20px;
        line-height: 22px;
    }

    .icon_star {
        display: none;
    }

    .text_info_5 p {
        font-size: 22px;
        line-height: 24px;
    }

    .btn_5 h2 {
        font-size: 18px;
    }

    .area_locais {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .area_unidade {
        max-width: 470px;
    }

    .text_unidade h2 {
        font-size: 26px;
        line-height: normal;
    }

    .area_container_6 {
        gap: 40px;
    }

    .area_unidade_endereco {
        max-width: 440px;
    }

    .texts_local {
        gap: 10px;
    }

    .nome_local h2 {
        font-size: 20px;
    }

    .endereco p {
        font-size: 18px;
        line-height: 20px;
    }
    .btn_undidade h2 {
        font-size: 18px;
    }
    .title_contato h2 {
        font-size: 20px;
    }

    .title_unidade h2 {
        font-size: 18px;
    }

    .sub_text_instagram h2 {
        font-size: 22px;
    }

    .title_servicos_footer h2 {
        font-size: 18px;
    }

}

@media(max-width:480px) {
    .area_logo img {
        max-width: 280px;
        width: 100%;
    }
    .texts_container_1 img {
        max-width: 200px;
    }
    #container_1 {
        height: 400px;
    }
    .area_container_1 {
        padding: 20px 25px 20px 25px;
        margin: 0px 20px;
    }
    .container_1 {
        height: 100%;
    }
    .title_container_1 h2 {
        font-size: 18px;
        line-height: 20px;
    }
    .sub_title_container_1 p {
        font-size: 16px;
        line-height: 18px;
    }
    .btn_3 h2 {
        font-size: 16px;
    }
    .texts_container_1 {
        gap: 15px;
    }
    .card_container_2 {
        gap: 20px;
    }

    .card_container_2 img {
        max-width: 65px;
    }

    .title_2 h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .bg_sobre img {
        max-width: 150px;
    }

    .card_comment {
        max-width: 325px;
        box-shadow: 20px -1px 34px -16px #DFAAA7;
    }

    .texts_area_5 {
        padding: 0px 40px;
        gap: 8px;
    }

    .texts_5 h2 {
        font-size: 18px;
    }

    .name h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .area_container_6 {
        gap: 20px;
    }

    .text_unidade h2 {
        font-size: 22px;
    }

    .area_unidade {
        gap: 10px;
    }

    .area_unidade_endereco {
        gap: 10px;
    }

    .area_unidade img {
        width: 100%;
        max-width: 80px;
    }

    .area_unidade_endereco img {
        width: 100%;
        max-width: 80px;
    }

    .container_5 {
        padding: 60px 0px 0px 0px;
    }

    .comment p {
        font-size: 20px;
        line-height: 22px;
    }

    .slide-2 {
        margin: 20px 0px 20px 0px;
    }
    footer {
        padding: 60px 0px 0px 0px;
    }
    .fachada img {
        position: relative;
        z-index: -1;
        margin-bottom: -150px;
        width: 100%;
    }
}